.donation-container{
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.btn#donatebtn {
  background-color: black;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border: 2px solid #444444;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  padding: 6px 20px;
  display: flex;
  justify-content: center;
}

.btn#donatebtn:hover{
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.donate-text{
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #444444;
  display: inline-block;
}

.form {
  padding: 5px;
}

.container, .row{
  width: 100%;
}

.container{
  padding: 0 10px;
}

.row{

}

.col-1{
  display: inline-block;
  width: 33%;
  padding: 10px;
}

.col-3{
  padding: 10px;
  display: block;
  width: 100%;
}

.col-2-left{
  width: 66%;
  padding: 10px;
  float: left;
}
.col-2-right{
  width: 66%;
  padding: 10px;
  float: right;
}
